@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway:wght@200&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}

.background{
    position: fixed;
    height: 100%;
}

.nav{
    display: inline-block;
    position: fixed;
    padding: 15px;
    padding-right: 35px;
}

.content1{
    margin-left: 600px;
}

.notes{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 600px;
}

#title, #namauser {
    color:teal;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    width: 100%;
    text-align: center;
}

#btnname, #btn1, #tambahkan {
    font-family: 'Dancing Script', cursive;
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px; 
    width: 100px;
    text-align: center;
}

#tambahkan{
    width: 200px;
}

#myname{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    border-radius: 25px;
    border-color: teal;
    width: 610px;
    margin: auto;
    max-height: 100px;
    min-height: 50px;
    text-align: center;
    margin-top: 25px;
}


.mytable{
    width: 100%;
    border: teal;
}

/* ---------------------------CONTENT------------------------ */
#saldoawal, #mycategory, #mydate, #mytitle, #amount{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    padding: 4px;

}

.myform{
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
}


header{
    width: 100%;
    height: 200px;
    top: 0;
    background-color: white;
    position: static;
}

.container2{
    padding: 5%;
    text-align: center;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.main{
    width: 100%;
    margin-bottom: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}



#ask1, #ask2, #ask3, #ask4, #ask5, #ask6, #ask7{
    /* text-align: center; */
    padding: 50px; 
    line-height: 1.5;
    width: 400px;
    height: 30px;
    display: inline-block;
    margin: 30px;
    background: transparent;
    border-radius: 4px; 
    border: 1px solid #0072EF;
}



/* ---------------------------FOOTER------------------------ */
footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: auto;
    line-height: 1.5;
    color: black;
    padding: 30px;
    margin-top: 100px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

/* ---------------------------ADDITIONAL------------------------ */
.supported {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: auto;
    line-height: 1.5;
    color: black;
    width: 100%;
    position: absolute;
    right: 0;
    padding: 15px;
    text-align: right;
}

/* ---------------------------OTHER RULE------------------------ */
 li {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: teal;
    padding: 10px;
    width: auto;
    line-height: 1.5;
    display: inline-block;
}

