@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway:wght@200&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    top: 0;
    background-color: white;
    position: fixed;
}

body{
    top: 70px;
    display: block;
    position: relative;
}

/* ---------------------------HEADER------------------------ */
nav{
    display: inline-block;
    position: fixed;
    right: 0;
    padding: 15px;
    padding-right: 35px;
}

/* ---------------------------MAIN CONTENT------------------------ */
.container2, .container3, .container4, .container6, .container7, .container9{
    padding: 5%;
    text-align: center;
    display: block;
    position: static;
    margin-top: 150px;
    font-family: 'Dancing Script', cursive;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.container1{
    width: 100%;
    height: 350px;
    padding: 0, 20px;
    display: block;
    background-image: url("img/download.png");
}

.container5{
    width: 100%;
    height: 500px;
    padding: 0, 20px;
    text-align: center;
    background-position: top;
    display: block;
    background-image: url("img/background2.png");
}

.container8{
    width: 100%;
    height: 500px;
    padding: 0, 20px;
    text-align: center;
    background-position: center;
    display: block;
    background-image: url("img/background5.png");
    align-content: center;
}

.container10{
    width: 100%;
    height: 500px;
    display: block;
    background-position: center;
    text-align: center;
    background-image: url("img/background_s.png");
}


.main{
    width: 100%;
    margin-bottom: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#searchbar{
    border-radius: 25px;
    border: none;
    width: 610px;
    max-height: 100px;
    min-height: 50px;
    text-align: center;
    margin-top: 250px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

#ask1, #ask2, #ask3, #ask4, #ask5, #ask6, #ask7{
    padding: 50px; 
    line-height: 1.5;
    width: 400px;
    height: 30px;
    display: inline-block;
    margin: 30px;
    background: transparent;
    border-radius: 4px; 
    border: 1px solid teal;
}

/* ---------------------------FOOTER------------------------ */
footer{
    font-weight: 400;
    width: auto;
    line-height: 1.5;
    color: black;
    padding: 30px;
    margin-top: 100px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

/* ---------------------------ADDITIONAL------------------------ */
 li {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: teal;
    padding: 10px;
    width: auto;
    line-height: 1.5;
    display: inline-block;
}